<%- include('./layouts/header', {
    title: null
}) %>
    <section class="py-5">
        <div class="container">
            <h1>About us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum officiis nihil, tempora aut
                quas quo, consequuntur nobis assumenda unde harum recusandae in velit non quisquam, eum iure maiores
                error?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum officiis nihil, tempora aut
                quas quo, consequuntur nobis assumenda unde harum recusandae in velit non quisquam, eum iure maiores
                error?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum officiis nihil, tempora aut
                quas quo, consequuntur nobis assumenda unde harum recusandae in velit non quisquam, eum iure maiores
                error?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum officiis nihil, tempora aut
                quas quo, consequuntur nobis assumenda unde harum recusandae in velit non quisquam, eum iure maiores
                error?
            </p>
        </div>
    </section>
    <%- include('./layouts/footer') %>